<%= form_for(movimiento_inventario) do |f| %>
  <% if movimiento_inventario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movimiento_inventario.errors.count, "error") %> prohibited this movimiento_inventario from being saved:</h2>

      <ul>
      <% movimiento_inventario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :tipo_movimiento %>
    <%= f.select :tipo_movimiento, options_for_select(["ENTRADA", "SALIDA"], "ENTRADA"), {}, {class: 'form-control'} %>
  </div>

    <div class="form-group">
      <%= f.label :codigo_articulo %>
      <%= f.select(:codigo_articulo, Articulo.all.collect {|a| [a.descripcion, a.codigo_articulo]}, {:prompt => "Please select"},
                   {class: 'form-control'}) -%>
    </div>

  <div class="form-group">
    <%= f.label :cantidad %>
    <%= f.number_field :cantidad, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
