<%= form_for(articulo_suplidor) do |f| %>
  <% if articulo_suplidor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(articulo_suplidor.errors.count, "error") %> prohibited this articulo_suplidor from being saved:</h2>

      <ul>
      <% articulo_suplidor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :codigo_articulo %>
    <%= f.text_field :codigo_articulo %>
  </div>

  <div class="form-group">
    <%= f.label :codigo_suplidos %>
    <%= f.text_field :codigo_suplidos %>
  </div>

  <div class="form-group">
    <%= f.label :tiempo_entrega %>
    <%= f.number_field :tiempo_entrega %>
  </div>

  <div class="form-group">
    <%= f.label :precio_compra %>
    <%= f.number_field :precio_compra %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
